@tailwind base;
@tailwind components;
@tailwind utilities;


.isActive {
  background-color: skyblue;
}

.stick-list {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}