.card {
  height: 250px;
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: content-box;
  background-color: orange;
  border-radius: 3%;
}

.card-img {
  height: 75%;
  width: 100%;
  border-radius: 0 0 70px 70px;
}

.card-name {
  height: 10px;
}