body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.sos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
}

.divi {
  border: 1px #fff solid;
  padding: 5px;
}